body{
    font-family: 'Raleway Light','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Бургер */
.hamburger{
    width: 26px;
    height: 20px;
    padding-right: 528px;
    margin-top:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.menu-btn {
    display: block;
    width: 26px;
    height: 20px;
    position: relative;
    text-decoration: none;
  }
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
    position: absolute;
    top:50%; margin-top: -1px;
    left:50%;margin-left: -13px;
    width: 26px;
    height: 2px;
    background-color:#fff;
}

.menu-btn span::before,
.menu-btn span::after{
    content:'';
    display:block;
}
.menu-btn span::before{
    transform: translateY(-5px);
}
.menu-btn span::after{
    transform: translateY(5px);
}
  /* Бургер */
  /* Хедер */
.container{
    width: 1170px;
    margin:auto;
}
.main-screen{
    height: 770px;
}
.main-screen .main-screen-header{
    height: 85px; 
}
.main-screen .main-screen-header .logo{
    width: 62px;
    height: 30px;
    float: left;
    margin-top:22px;
}
.main-screen .main-screen-header .phone{
    float: right;
    margin:0;
}
.main-screen .main-screen-header .phone .num::before{
    content:'';
    position: relative;
    display: block;
    width: 12px;
    height: 15px;
    background:url("../img/mainScreen/phone.png");
    bottom: -15px;
    left:-15px;  
}
/* Хедер */
/* Слайдер */
.main-screen .slider{
    position: relative;
    height: 655px;
    z-index: -2;
}
.main-screen .slider .slider-item{
    height: 595px;
    width: 1170px;
}
.main-screen .slider .slider-item img{
    height: 595px;
    width: 1170px;
}
.main-screen .slider-dots{
    width: 140px;
    height: 3px;
    margin-top: 46px;
    margin-left:1030px;
}
.main-screen .slider .slider-dots .dot{
    margin-right:12px;
    float:left;
    background-color:#cdd3cf;
    width: 26px;
    height: 3px;
}
.main-screen .slider .slider-dots .dot-active{
background-color:#1a444a;
}
.main-screen .slider .dot:last-child{
    margin-right:0px;
}
/* Слайдер */
/* Фон с меню */
.main-screen .main-fond{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.97;
    height: 769px;
    width: 50%;
    background-color:#182c3d;
    z-index: -1;
}
.main-screen .main-fond .main-content{
    width: 370px;
    height: 270px;
    margin-top: 255px;
    margin-left: 25vw;
}
.main-screen .main-fond h1{
    font-family:"PlayfairDisplay Bold";
    margin:0;
    font-size: 61px;
    line-height:60px;
    color:#fff;
}
.main-screen .main-fond p{
    font-family: 'Muller Light';
    margin:0;
    padding-top:35px;
    font-size: 14px;
    color:#fff;
    line-height: 20px;
}
.main-screen .button-main:hover{
    background-color: #f7a15a;
}
.main-screen .button-main{
    position: absolute;
    margin-top:40px;
    top:460px;
    left: 25vw;
    width: 280px;
    height: 60px;
    border:1px solid #fff;
    background-color:transparent;   
}
.main-screen .button-main a{
    font-family: 'Raleway ExtraBold';
    display: block;
    color:#fff;
    text-decoration: none;
    margin: 0;
    position: absolute;              
    top: 50%;                  
    left:30px;
    transform: translate(0, -50%)    
}
.button-main .arrow{
    position: relative;
    display:block;
    width: 37px;
    height: 3px;
    background: #fff;
    top:26px;
    left:200px;
}
.button-main .arrow::after{
    position: absolute;
    content:'';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 0;
    border-left-color:#fff;
    top: -3px;
    right: -10px;
    border-width: 4px 0px 4px 15px;
}
.main-screen .arrow-down{
    display:none;
    position: absolute;
    left:50%;
    top:81.081%;
    width: 5px;
    height: 80px;
    background-color: #fff;
    z-index:3;
    margin: 0;
}
.main-screen .arrow-down::after{
    position: absolute;
    content:'';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top-color:#fff;
    top: 80px;
    right: -8px;
  
}
.main-screen .social{
    width: 110px;
    height: 15px;
}
.main-screen .social img{
    padding-right:25px;
}
.main-screen .social img:last-child{
    padding-right:0px;
}

/* Медиа запросы */
@media (min-width: 769px) and (max-width: 1169px){
    .main-screen .main-fond .main-content {
        width: 300px;
    }
    .main-screen .main-fond h1{
        font-size: 35px;
        word-wrap:break-word;
        line-height: 40px;
    }
    .main-screen .main-fond p{
        font-size: 15px;
        line-height: 20px;
    }
    .hamburger{
        padding-right: 22%;
    }
}
@media (min-width: 769px) and (max-width: 1500px) {
    .main-screen .main-fond .main-content   {
        margin-left: 25%;
    }
.main-screen .button-main   {
    left:12.5%
    }
}
@media screen and (min-width: 1170px) {
        .container{
        background:
        url(../img/fig.png) no-repeat 0 0,
        url(../img/fig.png) no-repeat 24.358% 0,
        url(../img/fig.png) no-repeat 50% 0,
        url(../img/fig.png) no-repeat 74.700% 0,
        url(../img/fig.png) no-repeat 100% 0;
    }
}
@media (min-width: 661px) and (max-width: 768px){
    /* Основа */
    .main-screen .main-fond{
        width: 100vw;
        height: 1110px;
        z-index: 2;
        opacity: 0.85;
    }
    .container{
        width: 100vw;
    }
    .main-screen{
        width: 100vw;
        height: 1110px;
        position: relative;
        background-image:url("../img/mainScreen/image768.png");
        background-repeat: no-repeat;
    }
    /* Основа */
    /* Мейн хедер */
    .main-screen .main-screen-header{
        position: relative;
        width:100%;
        z-index: 3;
     }
    .main-screen .main-screen-header .logo{
        width: 85px;
        height: 50px;
        margin-top:60px;
        margin-left:5%;
    }
    /* Бургер */
    .hamburger{
        padding: 0;
        width: 65px;
        height: 45px;
        margin-right: 5%;
        margin-top:60px;
        float: right;
    }   

    .menu-btn {
        width: 65px;
        height: 45px;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        margin-top: -2px;
        margin-left: -33px;
        width: 65px;
        height: 5px;
    }    
    .menu-btn span::before{
        transform: translateY(-15px);
    }
    .menu-btn span::after{
        transform: translateY(15px);
    }
    /* Бургер */
    .main-screen .main-screen-header .phone{
        display:none;
    }
    /* Мейн хедер */
    .main-screen .slider{
        display:none;
    }
    /* фонд */
    .main-screen .main-fond .main-content{
        width: 78.125%;
        height: 330px;
        margin-left:auto;
        margin-right: auto;
        margin-top: 300px;
    }
    .main-fond .main-content h1{
        font-size:100px;
        line-height: 100px;
    }
    .main-fond .main-content h1 span{
        padding-left:100px;
    }
    .main-fond .main-content p{
        display:block;
        width: 550px;
        font-size:26px;
        padding-top:75px;
    }
    .main-fond .main-content p span{
        padding-left:45px
    }
    .main-screen .social{
        display:none;
    }
    .main-screen .button-main{
        width: 440px;
        height: 115px;
        z-index:3;
        top:61.261%;
        left: 20%;
        margin: 0;   
    }
    .main-screen .button-main a{
        font-size:30px;             
        left:15%;
    }
    .button-main .arrow{
        display:none;
    }
    .main-screen .arrow-down{
    display: block;
    }
}
@media (min-width: 480px) and (max-width: 660px){
    .main-screen {
        width: 100vw;
        height: 1110px;
        position: relative;
        background-image: url(../img/mainScreen/image768.png);
        background-repeat: no-repeat;
    }
    .main-screen .main-screen-header {
        position: relative;
        width: 100%;
        z-index: 3;
        height: 85px;
    }
    .hamburger{
        padding: 0;
        width: 65px;
        height: 45px;
        margin-right: 5%;
        margin-top:60px;
        float: right;
    }   
    .menu-btn {
        width: 65px;
        height: 45px;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        margin-top: -2px;
        margin-left: -33px;
        width: 65px;
        height: 5px;
    }    
    .menu-btn span::before{
        transform: translateY(-15px);
    }
    .menu-btn span::after{
        transform: translateY(15px);
    }
    .main-screen .main-screen-header .logo {
        width: 85px;
        height: 50px;
        float: left;
        margin-top: 60px;
        margin-left: 5%;
    }
    .main-screen .main-screen-header .phone {
        display: none;
    }
    .main-screen .slider {
        display: none;
    }
    .main-screen .main-fond {
        background-color: #182c3d;
        width: 100vw;
        height: 1110px;
        z-index: 2;
        opacity: 0.85;
    }
    .main-screen .main-fond .main-content {
        width: 88.49%;
        height: 330px;
        margin-top: 250px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .main-fond .main-content p{
        display:block;
        width: 88.49%;
        font-size:20px;
        word-wrap:normal;
        padding-left: 10px 
    }
    .main-screen .button-main {
        margin-left: 100px;
        width: 225px;
        height: 55px;
        z-index: 3;
        top: 54.054%;
        left: 26%;
        margin: 0;
        border: 1px solid #fff;
    }
    .main-screen .button-main a {
        font-size: 14px;
        top: 50%;
        left: 20%;
        color: #fff;
    }
    .button-main .arrow {
        display: none;
    }
    .main-screen .arrow-down {
        display:block;
        left:50%;
        top:70.081%;
    }
    .main-screen .social {
        display: none;
    }
}
@media (min-width: 321px) and (max-width: 480px){
    .main-screen {
        width: 100vw;
        height: 1100px;
        position: relative;
        background-image: url(../img/mainScreen/image768.png);
        background-repeat: no-repeat;
    }
    .main-screen .main-screen-header {
        position: relative;
        width: 100%;
        z-index: 3;
    }
    .hamburger{
        padding: 0;
        width: 65px;
        height: 45px;
        margin-right: 5%;
        margin-top:60px;
        float: right;
    }   
    .menu-btn {
        width: 65px;
        height: 45px;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        margin-top: -2px;
        margin-left: -32px;
        width: 65px;
        height: 5px;
    }    
    .menu-btn span::before{
        transform: translateY(-15px);
    }
    .menu-btn span::after{
        transform: translateY(15px);
    }

    .main-screen .main-screen-header .logo{
        width: 85px;
        height: 50px;
        margin-top: 60px;
        margin-left: 5%;
    }
    .main-screen .main-screen-header .phone {
        display: none;
    }
    .main-screen .slider {
        display: none;
    }
    .main-screen .main-fond {
        background-color: #182c3d;
        width: 100vw;
        height: 1110px;
        z-index: 2;
        opacity: 0.85;
    }
    .main-screen .main-fond .main-content {
        width: 88.49%;
        height: 330px;
        margin-top: 250px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .main-screen .main-fond h1 {
        margin: 0;
        font-size: 40px;
        line-height: 40px;
    }
    .main-fond .main-content p{
        display:block;
        width: 88.49%;
        font-size:20px;
        word-wrap:normal;
        padding-left: 10px 
    }
    .main-fond .main-content p span{
        padding: 0;
    }
    .main-screen .button-main {
        margin-left: 100px;
        width: 225px;
        height: 55px;
        z-index: 3;
        top: 50%;
        left: 18%;
        margin: 0;
    }
    .main-screen .button-main a {
        font-size: 14px;
        margin: 0;
        top: 50%;
        left: 20%;
        display: block;
    }
    .button-main .arrow {
        display: none;
    }
    .main-screen .arrow-down {
        display:block;
        height: 60px;
        left: 46%;
        top: 60%;
        width: 5px;
    }
    .main-screen .arrow-down::after {
        top: 60px;
        right: -8px;
    }
    .main-screen .social {
        display: none;
    }
    
}
@media (min-width: 319px)and (max-width: 320px){
    .main-screen {
        width: 100vw;
        height: 610px;
        position: relative;
        background-image: url(../img/mainScreen/image320.png);
        background-repeat: no-repeat;
    }
    .main-screen .main-screen-header {
        position: relative;
        width: 100%;
        z-index: 3;
    }
    .hamburger{
        padding: 0;
        width: 35px;
        height: 30px;
        margin-right: 5%;
        margin-top:60px;
        float: right;
    }   
    .menu-btn {
        width: 35px;
        height: 30px;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        margin-top: -2px;
        margin-left: -17px;
        width: 35px;
        height: 4px;
    }    
    .menu-btn span::before{
        transform: translateY(-10px);
    }
    .menu-btn span::after{
        transform: translateY(10px);
    }
    .main-screen .main-screen-header .logo {
        width: 40px;
        height: 30px;
        margin-top: 60px;
        margin-left: 5%;
    }
    .main-screen .main-screen-header .logo img{
    width: 80px;
    height: 30px;
    }
    .main-screen .main-screen-header .phone {
        display: none;
    }
    .main-screen .slider {
        display: none;
    }
    .main-screen .main-fond {
        top: 0;
        left: 0;
        width: 100vw;
        height: 610px;
        z-index: 2;
        opacity: 0.85;
    }
    .main-screen .main-fond .main-content {
        width: 88.49%;
        height: 330px;
        margin-top: 150px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .main-screen .main-fond h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .main-fond .main-content p{
        display:block;
        width: 88.49%;
        font-size:20px;
        word-wrap:normal;
        padding-left: 10px 
    }
    .main-screen .button-main {
        margin-left: 100px;
        width: 225px;
        height: 55px;
        z-index: 3;
        top: 60%;
        left: 17%;
        margin: 0;
    }
    .main-screen .button-main a {
        font-size: 14px;
        top: 50%;
        left: 20%;
        display: block;
        color: #fff;
        text-decoration: none;
    }
    .button-main .arrow {
        display: none;
    }
    .main-screen .arrow-down {
        display: block;
        height: 60px;
        left: 50%;
        top: 75%;
        width: 5px;
    }
    .main-screen .arrow-down::after {
        top: 60px;
        right: -8px;
    }
    .main-screen .social {
        display: none;
    }
}